<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
    	<link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
    	<link rel="stylesheet" href="/assets/css/sigin.css" />
        <title>Login - Controle de Contas </title>
    </head>
    
    <body>
    
    
	   	<div class="container">
			
	    	<form class="form-signin" th:action="@{/login}" method="post">
		        <h2 class="form-signin-heading">Login</h2>
		        <label for="username" class="sr-only">Usuário</label>
		        <input type="text" id="username" name="username" class="form-control" placeholder="Usuário"  />
		        <label for="password" class="sr-only">Senha</label>
		        <input type="password" id="password" name="password" class="form-control" placeholder="Senha"  />
	        	<div class="checkbox">
		          	<label>
		           		<input type="checkbox" name="remember-me" value="remember-me"/> Lembrar-me
		          	</label>
	        	</div>
	        	<div th:if="${param.error}" class="alert alert-danger text-center" role="alert">
	        		<span>Usuário ou senha inválidos!</span>
		        </div>
		        <div th:if="${param.logout}" class="alert alert-primary text-center" role="alert">
		        	<span>Você foi desconectado!</span>
		            
		        </div>
		        <br/>
	        	<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	      </form>
	
	    </div>
        
    </body>
</html>